In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
seasons = []
first = 1992
while first <= 2023:
    year = str(first) + "-" + str(first + 1)
    first = first + 1
    seasons.append(year)

In [3]:
df = pd.read_csv("./data/1998-1999.csv")
df.head()

,Unnamed: 0,Round,Home,Score,Away,Home_Score,Away_Score,Winner_team,Winner_Home_Away
0,0,Group stage,Panathinaikos,2–1,Dynamo Kyiv,2,1,Panathinaikos,Home
1,1,Group stage,Lens,1–1,Arsenal,1,1,Draw,Draw
2,2,Group stage,Manchester Utd,3–3,Barcelona,3,3,Draw,Draw
3,3,Group stage,Kaiserslautern,1–0,Benfica,1,0,Kaiserslautern,Home
4,4,Group stage,Porto,2–2,Olympiacos,2,2,Draw,Draw

In [4]:
## drop Unnamed: 0
df.drop("Unnamed: 0", axis=1, inplace=True)
df.head()

,Round,Home,Score,Away,Home_Score,Away_Score,Winner_team,Winner_Home_Away
0,Group stage,Panathinaikos,2–1,Dynamo Kyiv,2,1,Panathinaikos,Home
1,Group stage,Lens,1–1,Arsenal,1,1,Draw,Draw
2,Group stage,Manchester Utd,3–3,Barcelona,3,3,Draw,Draw
3,Group stage,Kaiserslautern,1–0,Benfica,1,0,Kaiserslautern,Home
4,Group stage,Porto,2–2,Olympiacos,2,2,Draw,Draw

In [5]:
## Remove the trailing spaces at start for Away and at end for Home and both for Winner_team
df["Home"] = df["Home"].str.strip()
df["Away"] = df["Away"].str.strip()
df["Winner_team"] = df["Winner_team"].str.strip()
df.head()

,Round,Home,Score,Away,Home_Score,Away_Score,Winner_team,Winner_Home_Away
0,Group stage,Panathinaikos,2–1,Dynamo Kyiv,2,1,Panathinaikos,Home
1,Group stage,Lens,1–1,Arsenal,1,1,Draw,Draw
2,Group stage,Manchester Utd,3–3,Barcelona,3,3,Draw,Draw
3,Group stage,Kaiserslautern,1–0,Benfica,1,0,Kaiserslautern,Home
4,Group stage,Porto,2–2,Olympiacos,2,2,Draw,Draw

In [6]:
df["Season"] = "1998-1999"
df.head()

,Round,Home,Score,Away,Home_Score,Away_Score,Winner_team,Winner_Home_Away,Season
0,Group stage,Panathinaikos,2–1,Dynamo Kyiv,2,1,Panathinaikos,Home,1998-1999
1,Group stage,Lens,1–1,Arsenal,1,1,Draw,Draw,1998-1999
2,Group stage,Manchester Utd,3–3,Barcelona,3,3,Draw,Draw,1998-1999
3,Group stage,Kaiserslautern,1–0,Benfica,1,0,Kaiserslautern,Home,1998-1999
4,Group stage,Porto,2–2,Olympiacos,2,2,Draw,Draw,1998-1999

In [7]:
## doing this for all the datas and concat them together
def cleaning_data(df, season):
    df.drop("Unnamed: 0", axis=1, inplace=True)
    df["Home"] = df["Home"].str.strip()
    df["Away"] = df["Away"].str.strip()
    df["Winner_team"] = df["Winner_team"].str.strip()
    df["Season"] = season
    return df

In [8]:
def concat_csvs():
    df_list = []
    for season in seasons:
        folder_path = f"./data/{season}.csv"
        df = pd.read_csv(folder_path)
        df = cleaning_data(df, season)
        df_list.append(df)

    final_df = pd.concat(df_list, ignore_index=True)
    return final_df

In [9]:
df = concat_csvs()

In [10]:
df.tail()

,Round,Home,Score,Away,Home_Score,Away_Score,Winner_team,Winner_Home_Away,Season
3796,Round,H,Score,y,NaN,NaN,Draw,Draw,2023-2024
3797,Semi-finals,Dortmund,1–0,Paris S-G,1.0,0.0,Dortmund,Home,2023-2024
3798,Semi-finals,Paris S-G,0–1,Dortmund,0.0,1.0,Dortmund,Away,2023-2024
3799,Semi-finals,Real Madrid,2–1,Bayern Munich,2.0,1.0,Real Madrid,Home,2023-2024
3800,Final,Dortmund,0–2,Real Madrid,0.0,2.0,Real Madrid,Away,2023-2024

In [11]:
df.isnull().sum()

Round                0
Home                 0
Score                0
Away                 0
Home_Score          43
Away_Score          43
Winner_team          0
Winner_Home_Away     0
Season               0
dtype: int64

In [12]:
df.dropna(inplace=True)
df.isnull().sum()

Round               0
Home                0
Score               0
Away                0
Home_Score          0
Away_Score          0
Winner_team         0
Winner_Home_Away    0
Season              0
dtype: int64

In [14]:
df["Round"].value_counts()

Round
Group stage           2352
First group stage      384
Round of 16            328
Quarter-finals         234
Second group stage     192
Semi-finals            118
First round             65
Second round            32
Preliminary round       27
Final                   26
Name: count, dtype: int64

In [16]:
rounds = {
    "Group stage": "Group stage",
    "First group stage": "Group stage",
    "Round of 16": "Round of 16",
    "Quarter-finals": "Quarter-finals",
    "Second group stage": "Group stage",
    "Semi-finals": "Semi-finals",
    "First round": "Group stage",
    "Second round": "Group stage",
    "Preliminary round": "Group stage",
    "Final": "Final",
}

In [21]:
df["Round"] = df["Round"].map(rounds)

In [23]:
df.head()

,Round,Home,Score,Away,Home_Score,Away_Score,Winner_team,Winner_Home_Away,Season
0,Group stage,NK Olimpija Ljubljana,3–0,FC Norma Tallinn,3.0,0.0,NK Olimpija Ljubljana,Home,1992-1993
1,Group stage,Valletta FC,1–2,Maccabi Tel Aviv FC,1.0,2.0,Maccabi Tel Aviv FC,Away,1992-1993
2,Group stage,KÍ Klaksvík,1–3,Skonto FC,1.0,3.0,Skonto FC,Away,1992-1993
3,Group stage,Shelbourne FC,0–0,Tavriya Simferopol,0.0,0.0,Draw,Draw,1992-1993
4,Group stage,FC Norma Tallinn,0–2,NK Olimpija Ljubljana,0.0,2.0,NK Olimpija Ljubljana,Away,1992-1993

In [24]:
df.tail()

,Round,Home,Score,Away,Home_Score,Away_Score,Winner_team,Winner_Home_Away,Season
3795,Semi-finals,Bayern Munich,2–2,Real Madrid,2.0,2.0,Draw,Draw,2023-2024
3797,Semi-finals,Dortmund,1–0,Paris S-G,1.0,0.0,Dortmund,Home,2023-2024
3798,Semi-finals,Paris S-G,0–1,Dortmund,0.0,1.0,Dortmund,Away,2023-2024
3799,Semi-finals,Real Madrid,2–1,Bayern Munich,2.0,1.0,Real Madrid,Home,2023-2024
3800,Final,Dortmund,0–2,Real Madrid,0.0,2.0,Real Madrid,Away,2023-2024

In [26]:
df.to_csv("./data/all-seasons.csv", index=False)